@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Playball&family=Recursive:wght@300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
  box-sizing: border-box; 
}

body{
    background-color:#FB6B6B;
  
    
}


 .Menu{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 14rem;
    width: 100%;
    height: 100%;
} 

.Menu img{
    width: 25%;
    height: 13rem;
}

.Menu h1{
    margin-top: 15px;
    font-family: 'Righteous';
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.Start{
    display: flex;
   align-items: center;
   justify-content: center;
   color: #D70900;
   font-weight: 500;

    width: 40%;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid 1px #D70900;

    font-family: 'Recursive';
}

.hidden{
    display: none;
}
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Righteous';
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    
}

.Logo img{
    height: 80px;
    width: 60px;
    margin-right: 20px;
}
.Questions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Question{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 10px;
    width: 40%;
    min-height: 80px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Recursive';
    font-weight: 500;
    margin-bottom: 30px;

    -webkit-box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.63); 
    box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.63);
}

.Pergunta{
    

    width: 40%;
    height: 150px;
    font-family: 'Recursive';
    background-color: #FFFFD4;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

    -webkit-box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.63); 
    box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.63);
}

.Pergunta img{
    width: 30px;
    height: 20px;
    z-index: 1;
    margin-top: 100px;
}

ion-icon {
    font-size: 30px;
  }

footer{
    margin: auto;
    width: 100%;
    height: 80px;
    bottom: 0;
    position: fixed;
    background-color: #FFFFFF;
    font-family: 'Recursive';
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.Respostas{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    
    
    z-index: 1;
    margin-top: 34px;
    bottom: 0;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    width: 30%;
    color: #FFFFFF;
    font-family: 'Recursive';
    border-radius: 5px;
    font-size: 15px;
    
}

.red{
    background-color: #D70900;
}

.yellow{
    background-color: #FF922E;
}

.green{
    background-color:#2FBE34;
    
}
